{{!< default}}

{{#author}}

{{> "menu"}}

<header class="main-header {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
	<figure class="logo">
		{{#if @blog.logo}}<a href="{{@blog.url}}"><img class="img-logo" src="{{@blog.logo}}" alt="Logo Blog"></a>{{/if}}
	</figure>
	<div class="title">
		<a href="{{@blog.url}}">
			<h1>{{name}}</h1>
		</a>
		{{#if bio}}
			<p>{{{bio}}}</p>
		{{/if}}
	</div>
</header>

{{/author}}

<section class="posts">

	{{> "loop"}}

</section>